gw2codex_gwcodex/GW2 Codex/GW2 Codex.xcodeproj/project.xcworkspace/xcuserdata/rrenna360.xcuserdatad/UserInterfaceState.xcuserstate
gw2codex_gwcodex/GW2 Codex/GW2 Codex.xcodeproj/xcuserdata/rrenna360.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
gw2codex_gwcodex/GW2 Codex/DerivedData/
/gw2codex_gwcodex/GW2 Codex/SWTOR Guide Content Aggregator/._SGAggregateDataController.m
/gw2codex_gwcodex/GW2 Codex/SWTOR Guide Content Aggregator/._SWTOR_Guide_Content_AggregatorAppDelegate.m
/gw2codex_gwcodex/GW2 Codex/GW2 Codex.xcodeproj/project.xcworkspace/xcuserdata/rrenna.xcuserdatad/
/gw2codex_gwcodex/GW2 Codex/GW2 Codex.xcodeproj/project.xcworkspace/xcuserdata/ryanr.xcuserdatad/
/gw2codex_gwcodex/GW2 Codex/GW2 Codex.xcodeproj/xcuserdata/rrenna.xcuserdatad/
/gw2codex_gwcodex/GW2 Codex/GW2 Codex.xcodeproj/xcuserdata/ryanr.xcuserdatad/
/gw2codex_gwcodex/GW2 Codex/SWTOR Guide/._RootViewController.m
/gw2codex_gwcodex/GW2 Codex/SWTOR Guide/._SGCharacterClassViewController.h
/gw2codex_gwcodex/GW2 Codex/SWTOR Guide/._SGCharacterClassViewController.m