gw2codex_gwcodex/GW2 Codex/GW2 Codex.xcodeproj/project.xcworkspace/xcuserdata/rrenna360.xcuserdatad/UserInterfaceState.xcuserstate
gw2codex_gwcodex/GW2 Codex/GW2 Codex.xcodeproj/xcuserdata/rrenna360.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist